body
{
    width: auto;
}

h2
{
    font-weight: 600;
    font-size: 22px;
}

/* Header */

header
{
    margin: 0px;
}

.nav_bar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

 .nav_bar img
{
    width: 300px;
    height: auto;
}

.renvoi
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
    
.renvoi a
{
    border-bottom: 3px solid transparent;
    padding-bottom: 15px;
    font-size: 20px;
}

.renvoi a:hover 
{
    border-top: 3px transparent;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
    width: 100%;
}

main
{
    margin: 0px;
    padding: 0;
}

.section_1 
{
    padding: 20px;
}

.section_1 h1
{
    margin-bottom: 20px;
}

.section_1 p
{
    font-size: 20px;
    margin-bottom: 20px;
}

/* Section des filtres */ 
    
#liste_filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

/* Section information */ 

.info_icon
{
    display: flex;
    width: 3%;
}

#info p
{
    font-size: 20px;
}

/* Section cards hébergements à Marseille */

.wrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.container_title
{
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0px;
}

.card
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 46%;
}

.card_body h4
{
    font-size: 20px;
}

.card_body p 
{
    font-size: 18px;
}

.container_footer p
{
    font-size: 20px;
    font-weight: 400;
}

/* Section cards les plus populaires */ 

.populars
{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.populars_title
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
}

.card_popular
{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
}

.card_body_popular
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.card_body_popular h4
{
    font-size: 23px;
    flex-wrap: wrap;
}

.card_body_popular p
{
    font-size: 20px;
    margin-left: 10px;
}


.card_popular img
{
    display: flex;
    width: 50%;
    height: 200px;
    justify-content: left;
}

/* Activités à Marseille  */

#activities
{
    padding: 0px 10px 0px;
}

#activities h2
{
    padding-left: 10px;
}

.full_card_img
{
    object-fit: cover;
}

.M_activity_title
{
    font-size: 16px;
}

.A_Marseille_deux_tiers_card_img
{
display: flex;
width: auto;
}

/* Footer */ 

.column_footer h3
{
    font-size: 17px;
}

footer ul, li, a
{
    font-size: 15px;
}